		body{
			text-align: center;
			/* background-color: #020814; */
			background-color: white;
			overflow: hidden; 
		}
		.total{
			display:flex;
			background-color: white;
		}
		.data{
		   margin:10px;
		}
		.fxmap{
			margin:10px;
			width: 850px;
			/* height: 700px; */
			border-radius: 3px;
			/* position: fixed; */
			cursor: pointer;
			/* background-color: white; */
			border: 1px solid rgb(2, 8, 20) ;
		}
		.prank{
			/* position: fixed; */
			width: 500px;
			height: 250px;
			border-radius: 3px;
		  top:20px;
			left: 0px;
			overflow-y: auto;
			border: rgb(2, 8, 20);
			border-style:solid;
			border-width: 1px;
			margin-bottom: 10px;
			padding: 0px;
			text-align: left;
			background-color:#e5e5e5;
		}
	  .title{
		  margin:10px;
			margin-top: 5px;
			font-size: 20px;
			/* color:dimgray;*/
			color: black;
			display: block;
			position: fixed;
			text-align: center;
		}
		.svg_box{
			/* background-color:#e5e5e5; */
			position: absolute;
			margin-top: 40px;
			width: 500px;
			height: 210px;
			margin-left: 0px;
		  overflow-y: scroll;
		}
		.rect{
			cursor: pointer;
		}
		.detail{
			width: 500px;
			height: 350px;
			text-align: left;
			border: rgb(2, 8, 20);
			border-style:solid;
			border-width: 1px;
			left: 0px;
			margin-top:10px;
			border-radius: 3px;
			cursor: pointer;
			background-color:#e5e5e5;
			}
	   .pointer{
			 cursor: pointer;
		 }
    .rect{
			 line-height: 18px;
			 vertical-align: center;
			 
	}
	.temrec{
		border-radius: 5px;
	}
	.line{
		z-index: 100 !important;
	}
	.pcircle ,.cirout{
		z-index: 1000 !important;
	}